<%- layout("/boilerplate/boilerplate_HomePage") %>
        <div class="create bg-dark">
            <div class="form">
                <h1 class="text-white mb-5 font-monospace">Profile</h1>
                <div class="individual">
                    <div class="internal">
                        <label for="i_name" class="form-label">Full Name</label>
                        <input type="text" placeholder="Enter Full Name" id="i_name" name="name" class="form-control" value="<%= user.name %>" readonly>
                    </div>
                    <div class="internal">
                        <label for="i_username" class="form-label">Username</label>
                        <input type="text" placeholder="Enter Username" id="i_username" name="username" class="form-control" value="<%= user.username %>" readonly>
                    </div>
                </div>
                <div class="individual">
                    <div class="internal">
                        <label for="i_email" class="form-label">Email</label>
                        <input type="email" placeholder="Enter your Email" id="i_email" name="email" class="form-control" value="<%= user.email %>" readonly>
                    </div>
                    <div class="internal">
                        <label for="i_phone" class="form-label">Phone Number</label>
                        <input type="text" placeholder="Enter your Phone Number" id="i_phone" name="phone" class="form-control" value="<%= user.phone %>" readonly>
                    </div>
                </div>
                <div class="individual">
                    <div class="buttonBox w-100 mb-3 mt-3">
                        <a href="/profile/Update" class="btn btn-outline-danger w-100">Edit Profile</a>
                    </div>
                    <div class="buttonBox w-100">
                        <form action="/profile/logout" method="post" class="w-100"> 
                            <button type="submit" class="btn btn-danger w-100">Logout</button>
                        </form>
                    </div>
                    <div class="buttonBox w-100 mb-3 mt-3">
                        <a href="/profile/Update" class="btn btn-outline-danger w-100">Change Password</a>
                    </div>
                </div>
            </div>
        </div>